{{ if { user:logged_in } and { user:group_id } == '3' }}
	{{ user:profile }}
		<div id="dashboard">
 			<h2>Hello, {{ display_name }}!</h2>
 			<div class="left">
 				Your business page is Active <a href="{{ url:site }}my-profile">preview</a> | <a href="{{ url:site }}edit-profile">edit</a>
 			</div>
 			<div class="right">
 				You are a REGULAR member
 				<br>
 				<a href="{{ url:site }}paket">Upgrade to get more benefits</a>
 				<br><br>
 				You can't publish your promo
 				<br><br>
 				<img src="{{ promo_image:image }}" />
 				<br><br>
 				<a href="{{ url:site }}paket">Upgrade to publish your event/promo</a>
 			</div>
		</div>
	{{ /user:profile }}

{{ elseif { user:logged_in } and { user:group_id } == '2' }}

{{ user:profile }}
		<div id="dashboard">
 			<h2>Hello, {{ display_name }}!</h2>
 			<div class="left">
 			<h3>My Profile</h3>
 				<div style="margin: -40px 20px 0px 0px;float: right;"><a href="{{ url:site }}my-profile">preview</a> | <a href="{{ url:site }}edit-profile">edit</a></div>
 				{{ bio }}
 				<h3>My Must Visit List</h3>
 				<h3>My Visited List</h3>
 			</div>
 			<div class="right">
 				<h3>My Recomendations</h3>
 				<h3>My Stories</h3>
 				<div style="margin: -40px 20px 0px 0px;float: right;"><a href="">Create Story</a></div>

 			</div>
		</div>
	{{ /user:profile }}

{{ else }}
<script type="text/javascript">
<!--
window.location = "{{ url:site }}users/login"
//-->
</script>
{{ endif }}