	<footer>
	<div class="footercontent">
	<div class="menufooter">
		<a href="contact">contact us</a> | 
		<a href="create-ads">create ads</a> | 
		<a href="vacancy">vacancy</a>
	</div>
	<div class="copyright">©2013 Copyright Cerita Perut. All Rights Reserved.</div>
	</div>
</footer>
{{ theme:js file="plugins.js" }}
{{ theme:js file="script.js" }}
</body>
</html>