<div class="flexslider">
	<ul class="slides">
	{{ pages:display slug="top-10-bandung" }}
			{{ custom_fields }}
		<li>
			<div class="yellowline">
				<div class="number">#1</div>
				<div class="name">{{ business_name_one }}</div>
				<div>
					<!-- <a href=""><img src="{{ theme:path }}/css/img/button-mustvisit.png" /></a> -->
					<a href="{{ business_url_one }}"><img src="{{ theme:path }}/css/img/button-detail.png" /></a>
					<a href=""><img src="{{ theme:path }}/css/img/button-stories.png" /></a>
				</div>
			</div>
			<img src="{{ home_banner_one:image }}" />
		</li>
		
		<li>
			<div class="yellowline">
				<div class="number">#2</div>
				<div class="name">{{ business_name_two }}</div>
				<div>
					<!-- <a href=""><img src="{{ theme:path }}/css/img/button-mustvisit.png" /></a> -->
					<a href="{{ business_url_two }}"><img src="{{ theme:path }}/css/img/button-detail.png" /></a>
					<a href=""><img src="{{ theme:path }}/css/img/button-stories.png" /></a>
				</div>
			</div>
			<img src="{{ home_banner_two:image }}" />
		</li>
		
		<li>
			<div class="yellowline">
				<div class="number">#3</div>
				<div class="name">{{ business_name_three }}</div>
				<div>
					<!-- <a href=""><img src="{{ theme:path }}/css/img/button-mustvisit.png" /></a> -->
					<a href="{{ business_url_three }}"><img src="{{ theme:path }}/css/img/button-detail.png" /></a>
					<a href=""><img src="{{ theme:path }}/css/img/button-stories.png" /></a>
				</div>
			</div>
			<img src="{{ home_banner_three:image }}" />
		</li>
		
		<li>
			<div class="yellowline">
				<div class="number">#4</div>
				<div class="name">{{ business_name_four }}</div>
				<div>
					<!-- <a href=""><img src="{{ theme:path }}/css/img/button-mustvisit.png" /></a> -->
					<a href="{{ business_url_four }}"><img src="{{ theme:path }}/css/img/button-detail.png" /></a>
					<a href=""><img src="{{ theme:path }}/css/img/button-stories.png" /></a>
				</div>
			</div>
			<img src="{{ home_banner_four:image }}" />
		</li>
		
		<li>
			<div class="yellowline">
				<div class="number">#5</div>
				<div class="name">{{ business_name_five }}</div>
				<div>
					<!-- <a href=""><img src="{{ theme:path }}/css/img/button-mustvisit.png" /></a> -->
					<a href="{{ business_url_five }}"><img src="{{ theme:path }}/css/img/button-detail.png" /></a>
					<a href=""><img src="{{ theme:path }}/css/img/button-stories.png" /></a>
				</div>
			</div>
			<img src="{{ home_banner_five:image }}" />
		</li>
		
		<li>
			<div class="yellowline">
				<div class="number">#6</div>
				<div class="name">{{ business_name_six }}</div>
				<div>
					<!-- <a href=""><img src="{{ theme:path }}/css/img/button-mustvisit.png" /></a> -->
					<a href="{{ business_url_six }}"><img src="{{ theme:path }}/css/img/button-detail.png" /></a>
					<a href=""><img src="{{ theme:path }}/css/img/button-stories.png" /></a>
				</div>
			</div>
			<img src="{{ home_banner_six:image }}" />
		</li>
		
		<li>
			<div class="yellowline">
				<div class="number">#7</div>
				<div class="name">{{ business_name_seven }}</div>
				<div>
					<!-- <a href=""><img src="{{ theme:path }}/css/img/button-mustvisit.png" /></a> -->
					<a href="{{ business_url_seven }}"><img src="{{ theme:path }}/css/img/button-detail.png" /></a>
					<a href=""><img src="{{ theme:path }}/css/img/button-stories.png" /></a>
				</div>
			</div>
			<img src="{{ home_banner_seven:image }}" />
		</li>
		
		<li>
			<div class="yellowline">
				<div class="number">#8</div>
				<div class="name">{{ business_name_eight }}</div>
				<div>
					<!-- <a href=""><img src="{{ theme:path }}/css/img/button-mustvisit.png" /></a> -->
					<a href="{{ business_url_eight }}"><img src="{{ theme:path }}/css/img/button-detail.png" /></a>
					<a href=""><img src="{{ theme:path }}/css/img/button-stories.png" /></a>
				</div>
			</div>
			<img src="{{ home_banner_eight:image }}" />
		</li>
		
		<li>
			<div class="yellowline">
				<div class="number">#9</div>
				<div class="name">{{ business_name_nine }}</div>
				<div>
					<!-- <a href=""><img src="{{ theme:path }}/css/img/button-mustvisit.png" /></a> -->
					<a href="{{ business_url_nine }}"><img src="{{ theme:path }}/css/img/button-detail.png" /></a>
					<a href=""><img src="{{ theme:path }}/css/img/button-stories.png" /></a>
				</div>
			</div>
			<img src="{{ home_banner_nine:image }}" />
		</li>
		
		<li>
			<div class="yellowline">
				<div class="number">#10</div>
				<div class="name">{{ business_name_ten }}</div>
				<div>
					<!-- <a href=""><img src="{{ theme:path }}/css/img/button-mustvisit.png" /></a> -->
					<a href="{{ business_url_ten }}"><img src="{{ theme:path }}/css/img/button-detail.png" /></a>
					<a href=""><img src="{{ theme:path }}/css/img/button-stories.png" /></a>
				</div>
			</div>
			<img src="{{ home_banner_ten:image }}" />
		</li>
		{{ /custom_fields }}
	{{ /pages:display }}
	</ul>
</div>
<div class="sliderdivider"></div>
<div class="searchblue">
	<div id="wrapper">
		I'm Hungry Find Me a Place <img src="{{ theme:path }}/css/img/searchbar.png" style="margin:0px 0px -10px 10px;" />
	</div>
</div>