{{ theme:partial name="header" }}
<!-- slider -->
	{{ if { url:segments segment="1" } == '' }}
		{{ theme:partial name="slider" }}
	{{ elseif { url:segments segment="1" } == 'top-list' }}
		{{ theme:partial name="slider" }}
		{{ else }}
	{{ endif }}
	<!-- /slider -->
<div id="wrapper">
	<div id="main">
		<section id="content">
			{{ if { url:segments segment="1" } == '' }}
				{{ theme:partial name="home" }}
			{{ elseif { url:segments segment="1" } == 'top-list' }}
				{{ theme:partial name="home" }}
			{{ elseif { url:segments segment="1" } == 'dashboard' }}
				{{ theme:partial name="dashboard" }}
			{{ elseif { url:segments segment="1" } == 'profile' }}
				{{ theme:partial name="profile" }}
			{{ else }}
				{{ template:body }}
			{{ endif }}
		</section>
	</div>
</div>
{{ theme:partial name="footer" }}


